In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import sklearn
%matplotlib ipympl

In [2]:
df = pd.read_csv('Data/GlobalCO2.csv', index_col='Year')

ml_df = df[['Year Total']]
ml_df.rename(columns={'Year Total': 'Features'}, inplace=True)
ml_df['Labels'] = ml_df['Features'].shift(-10)
ml_df_predict = ml_df[-10:]
ml_df_shuffle = sklearn.utils.shuffle(ml_df[:-10])

c:\users\swara\appdata\local\programs\python\python38\lib\site-packages\pandas\core\frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-2-533c52ab3d75>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_df['Labels'] = ml_df['Features'].shift(-10)

In [3]:
X = np.array(ml_df_shuffle['Features']) / 9220
y = np.array(ml_df_shuffle['Labels']) / 9220

In [4]:
len(X), len(y)

(105, 105)

In [5]:
train_size = int(len(X) * 0.8)

train_x = X[:train_size]
train_y = y[:train_size]

test_x = X[train_size:]
test_y = y[train_size:]
train_x = train_x.reshape(-1, 1)
test_x = test_x.reshape(-1, 1)

In [6]:
len(test_x), len(test_y)

(21, 21)

In [7]:
clf = LinearRegression()
clf.fit(train_x, train_y)
accuracy = clf.score(test_x, test_y)

In [9]:
accuracy

0.9824256064153658

In [22]:
ml_df_predict

      Features  Labels
Year
2005      7661     NaN
2006      7918     NaN
2007      8055     NaN
2008      8320     NaN
2009      8216     NaN
2010      8615     NaN
2011      8945     NaN
2012      9089     NaN
2013      9152     NaN
2014      9220     NaN

In [31]:
predictions = clf.predict(ml_df_predict[['Features']])
predictions = predictions.astype(int)
ml_df_predict['Labels'] = predictions
ml_df_predict

<ipython-input-31-ec217c904ddd>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ml_df_predict['Labels'] = predictions

      Features  Labels
Year
2005      7661    9296
2006      7918    9608
2007      8055    9774
2008      8320   10095
2009      8216    9969
2010      8615   10453
2011      8945   10854
2012      9089   11029
2013      9152   11105
2014      9220   11188

In [48]:
last_year =

c:\users\swara\appdata\local\programs\python\python38\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

      Features
Year
1900       534
1901       553
1902       566
1903       617
1904       624
...        ...
2020     10453
2021     10854
2022     11029
2023     11105
2024     11188

[125 rows x 1 columns]