In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('Data/rawGlobalCO2.csv')

df.drop(0, inplace=True)


rename = {
    'Total carbon emissions from fossil fuel consumption and cement production (million metric tons of C)':'Year Total',
    'Carbon emissions from gas fuel consumption':'Gas Fuel',
    'Carbon emissions from liquid fuel consumption': 'Liquid Fuel',
    'Carbon emissions from solid fuel consumption': 'Solid Fuel',
    'Carbon emissions from cement production': 'Cement', #emission from cement production
    'Carbon emissions from gas flaring': 'Gas Flaring', #emission from gas flaring 
    'Per capita carbon emissions (metric tons of carbon; after 1949 only)': 'Per Capita'
}
df.rename(columns=rename, inplace=True)

for col in df:
    if col == 'Per Capita':
        continue
    df[col] = df[col].astype(int)
    
df = df[df['Year'] >= 1900]
df.set_index('Year', inplace=True)

for year in df.index:
    df.loc[year, 'Year Total'] = df.loc[year, 'Gas Fuel'] + df.loc[year, 'Liquid Fuel'] + df.loc[year, 'Solid Fuel']

for year in df.index:
    df.loc[year, 'Total'] = sum(df.loc[:year, 'Year Total'])
    
df.head(10)

,Year Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita,Total
Year,,,,,,,,
1900,534,3,16,515,0,0,NaN,534.0
1901,553,4,18,531,0,0,NaN,1087.0
1902,566,4,19,543,0,0,NaN,1653.0
1903,617,4,20,593,0,0,NaN,2270.0
1904,624,4,23,597,0,0,NaN,2894.0
1905,664,5,23,636,0,0,NaN,3558.0
1906,708,5,23,680,0,0,NaN,4266.0
1907,783,5,28,750,0,0,NaN,5049.0
1908,749,5,30,714,0,0,NaN,5798.0
1909,785,6,32,747,0,0,NaN,6583.0

In [3]:
df.to_csv('Data/GlobalCO2.csv')